/********************
    VARIABLES
********************/

/******* colors ********/
$color-brand-yellow: #b26700;
$color-brand-green: #778b72;

$color-secondary-pink: #edafb1;
$color-secondary-grey: #86817d;

$color-white: #e9e7d7;
$color-black: #2c221b;

$basic-padding: 2rem 3rem;

/******* fonts ********/
$body-font: 'Jost', sans-serif;
$heading-font: 'Bebas Neue', sans-serif;
$heading-secondary-font: 'IM Fell Great Primer', serif;

$default-font-size: 1.6rem;
$mobile-font-enlarge: 2.8rem;

/********************
    FUNCTIONS
********************/

/********************
    MIXINS
********************/

@mixin hoverRotate () {
    transition: all .3s;
    &:hover {
        transform: rotate(-20deg);
        color: $color-brand-yellow;
    }
}

    ////////////////////////
    /// ANIMATION MIXINS ///
    ////////////////////////

@mixin bounce-animation ($delay) {
    animation-name: bounce;
    animation-duration: .8s;
    animation-delay: $delay;
    animation-iteration-count: infinite;
}