/********************
    VARIABLES
********************/

/******* colors ********/
$color-brand-yellow: #b26700;
$color-brand-green: #778b72;

$color-secondary-pink: #edafb1;
$color-secondary-grey: #86817d;
$color-secondary-white: #fdfbeb;
$color-secondary-yellow: #d9ba95;

$color-white: #e9e7d7;
$color-black: #2c221b;

$basic-padding: 2rem 3rem;

/******* fonts ********/
$body-font: 'Jost', sans-serif;
$heading-font: 'Bebas Neue', sans-serif;
$heading-secondary-font: 'IM Fell Great Primer', serif;

$default-font-size: 1.6rem;
$heading-font-size: 4rem;

$mobile-font-enlarge: 2.8rem;


/********************
    MIXINS
********************/

@mixin hoverRotate () {
    transition: all .3s;
    &:hover {
        transform: rotate(-20deg);
        color: $color-brand-yellow;
    }
}

@mixin hoverLift () {
    transition: all .3s;
    &:hover {
        transform: translateY(-.5rem);
    }
}

@mixin activeDrop () {
    transition: all .2s;
    &:active {
        transform: translateY(.1rem);
    }
}

@mixin upperHeading () {
    font-family: $heading-font;
    color: $color-brand-yellow;
}

@mixin lowerHeading () {
    font-family: $heading-secondary-font;
    color: $color-brand-yellow;
}

@mixin drop-shadow {
    filter: drop-shadow(0 .8rem .7rem rgba($color-black, .3));
    &:active {
        filter: drop-shadow(0 .2rem .7rem rgba($color-black, .5));
    }
}

    ////////////////////////
    /// ANIMATION MIXINS ///
    ////////////////////////

@mixin bounce-animation ($delay) {
    animation-name: bounce;
    animation-duration: .8s;
    animation-delay: $delay;
    animation-iteration-count: infinite;
}

@mixin scroll-animation () {
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@mixin float-animation () {
    animation-name: float;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}


/********************
    FUNCTIONS
********************/

