/***************************
    RESPONSIVE BREAKPOINTS

  runs off of em
  1em = 16px

  0 - 600px     = Phone
  601 - 900px   = Tablet Portrait
  901 - 1200px  = Tablet Landscape

  [1200 - 1800] = basic desktop styling
  1800+ px      = large desktops


  $breakpoints:

    - small-phone
    - phone
    - tab-port
    - tab-land
    - big-desktop

****************************/

@mixin respond($breakpoint) {
    @if $breakpoint == xs-phone {
      @media only screen and (max-width: 22.8125em) { @content }; //365px
    }
    @if $breakpoint == small-phone {
      @media only screen and (max-width: 31.25em) { @content }; //500px
    }
    @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == large-phone {
      @media only screen and (max-width: 43.75em) { @content };  //700px
    }
    @if $breakpoint == between-phone-tab {
      @media only screen and (max-width: 50em) { @content }; //800px
    }
    @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == big-desktop {
      @media only screen and (max-width: 112.5em) { @content }; //1800px
    }
  }

/********************
        BASE
********************/

/******

REM sizing used for styling
base size: 1rem = 10px

def:
    - base browser sizes at 16px
    - changed to 62.5% to equal 10px
    - conversions are (desired px size)/16px
        - change to percent

******/

//BROWSER RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem = 10px
}
body {
  box-sizing: border-box;
}

//END BROWSER RESET
html {
  //scroll-behavior: smooth;
}

body {
    background-color: $color-white;
}

/********************
    TYPOGRAPHY
********************/
body {
   font-family: $body-font;
   line-height: 1.35;
   font-size: $default-font-size;
   color: $color-black;
}

h1, h2, h3, h4, h5 {
    font-family: $heading-font;
    color: $color-brand-yellow;
    font-weight: normal;

}
h2{
  font-size: $heading-font-size;
  text-transform: uppercase;
  font-weight: 700;
}
h3 {
  font-family: $heading-secondary-font;
  font-size: 2.7rem;
}

ul {
    list-style-type: none;
}

p {
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

a {
  &,
  &:link,
  &:visited {
    text-decoration: none;
  }
}

/********************
    ANIMATIONS
********************/

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-.5rem);
  }
  60% {
    transform: translateY(.3rem);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 5rem));
  }
}

@keyframes float {
  from {
      transform: translateY(0);
      opacity: 0;
      z-index: -1;
  }
  to {
      transform: translateY(-2rem);
      opacity: 1;
      z-index: -1;
  }
}