/********************
        GRID
********************/
body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  header {
    grid-column: center-start/center-end;
    grid-row: 1;
  }
  main {
    grid-column: center-start/center-end;
    grid-row: 2;
  }
  footer {
    grid-column: center-start/center-end;
    grid-row: 3;
  }

  header,
  main,
  footer {
    @include respond(tab-port) {
      grid-column: full-start / full-end;
      padding: 1rem;
    }
}


////////////////
/// NAV GRID ///
////////////////

header {
  display: grid;
  grid-template-rows: 9rem;
  grid-template-columns: 3fr 1fr 3fr;

  @include respond(tab-port) {
    grid-template-rows: 4rem;
    grid-template-columns: 1fr 1fr;
  }
}

//////////////////
/// ABOUT GRID ///
//////////////////

.about {
  display: grid;
  grid-template-rows: 50rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;

  align-items: center;

  @include respond(tab-port) {
    grid-template-rows: 30rem 20rem;
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }
}

/********************
        LAYOUT
********************/

.main {
  position: relative;
}