@import './main.styles.scss';

.flexLineBreak {
    flex-basis: 100%;
    height: 0;
}

.basicLink,
.basicLink:visited,
.basicLink:active {
    transition: all .3s;
    color: $color-black;

    &:hover {
        transform: rotate(-20deg);
        color: $color-brand-yellow;
    }
}

.section-margin {
    margin: 10rem 0;
}

.inlineLink {
    transition: all .2s;
    display: inline-block;
    color: $color-brand-yellow;
    font-weight: bold;

    &:hover {
        transform: translateY(-.2rem) scale(1.05);
    }
}

.text-highlight {
    color: $color-brand-yellow;
}

