.flexLineBreak {
    flex-basis: 100%;
    height: 0;
}

.basicLink,
.basicLink:visited,
.basicLink:active {
    transition: all .3s;
    color: $color-black;

    &:hover {
        transform: rotate(-20deg);
        color: $color-brand-yellow;
    }
}

.section-margin {
    margin: 10rem 0;
}

