@import '../main.styles.scss';

.follow {
    position: relative;

    &__image {
        position: relative;
        &--01,
        &--10 {
            aspect-ratio: 401 / 300;
        }
        &--02,
        &--09 {
            aspect-ratio: 504 / 300;
        }
        &--03,
        &--04,
        &--05,
        &--06 {
            aspect-ratio: 196 / 197;
        }
        &--07,
        &--08 {
            aspect-ratio: 196 / 404;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        aspect-ratio: 7 / 5 ;

        @include respond(between-phone-tab) {
            aspect-ratio: 11 / 9;
        }
    }

    &__social-media {
        display: flex;
        justify-content: center;
        gap: 4rem;

        margin-bottom: 4rem;

        &__icon {
            transition: .3s all;
        }

        &__link:hover &__icon {
            @include hoverRotate;
        }
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;

        max-width: 44rem;

        @include respond(small-phone) {
            max-width: 90%;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: .9;

        &__top {
            font-size: 5.5rem;

            @include respond(small-phone) {
                font-size: 4.5rem;
            }
        }

        &__bottom {
            font-family: $heading-secondary-font;
            font-size: 5.1rem;
            font-weight: normal;
            text-transform: lowercase;

            @include respond(small-phone) {
                font-size: 4.1rem;
            }
        }
    }

    &__paragraph {
        margin-bottom: 0 !important;
    }

}