@import '../main.styles.scss';

.footer {
    width: 100%;
    margin-top: 10rem;
    padding: 10rem;

    background-color: $color-black;
    color: $color-white;
    text-align: center;

    &__logo {
        margin-bottom: 2rem;

        @include respond(small-phone) {
            width: 90%;
        }
    }

    &__text {
        @include respond(small-phone) {
            width: 90%;
        }

        p {
            margin: 0 !important;
        }
    }
}