@import '../main.styles.scss';

.buttonBackgroundImage {
    background-image: url('/sote-sanctuary-next-app/images/button.png');
}

.goalsContainerBackgroundImage {
    -webkit-mask-image: url('/sote-sanctuary-next-app/images/background-cutout.png') !important;
    mask-image: url('/sote-sanctuary-next-app/images/background-cutout.png') !important;

    @include respond(between-phone-tab) {
        mask-image: url('/sote-sanctuary-next-app/images/background-cutout-small.png') !important;
        -webkit-mask-image: url('/sote-sanctuary-next-app/images/background-cutout-small.png') !important;
    }
}