@import "../main.styles.scss";

.logo {
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
        height: 5.25rem;
        width: 17.7rem;
    }
}