@import '../main.styles';

header {
    //background-color: pink;
    //display: flex;
    //justify-content: space-between;

    .main-nav {
        //background-color: orange;
        display: flex;
        align-items: center;

        &__list {
            display: flex;
            width: 100%;

            border-bottom: .2rem solid;
            border-image: linear-gradient(to right, $color-black 50%, transparent 50%) 100% 1;
        }
        &__link {
            transition: all .3s;
            color: $color-black;

            &:not(:first-child){
                margin-left: 5rem;
            }

            &:visited,
            &:active {
               color: $color-black;
            }

            &:hover {
                transform: rotate(-20deg);
                color: $color-brand-yellow;
            }
        }
    }

    .nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-nav{
        //background-color: green;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &__list {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            border-bottom: .2rem solid;
            border-image: linear-gradient(to left, $color-black 50%, transparent 50%) 100% 1;
        }
        &__link {
            transition: all .3s;
            &:not(:first-child){
                margin-left: 2.5rem;
            }

            &:hover {
                transform: rotate(-20deg);
            }
        }
    }

    /////////////////////
    /// MOBILE DESIGN ///
    ////////////////////

    .mobile {
        position: fixed;

        &__nav-logo {
            justify-self: start;
            position: relative;
            z-index: 2;
        }

        &__menu {
            position: relative;
            z-index: 2;
            justify-self: end;
            height: 3.5rem;
            width: 3.5rem;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
            &:hover .mobile__menu__bar {
                transform: translateY(-.5rem);
            }
            &:hover .mobile__menu__bar--2 {
                transition-delay: .05s;
            }
            &:hover .mobile__menu__bar--3 {
                transition-delay: .1s;
            }

            &__bar {
                width: 3.5rem;
                height: .4rem;
                background-color: $color-black;
                transition: all .3s;
                border-radius: 1rem;
                &--2 {
                    width: 2rem;
                }
                &--3 {
                    width: .5rem;
                }
            }

            //have to add this dumb stuff if I don't what the unopened menu icon to
            //erase the transformed X while hover :/ *sigh*
            &--active:hover .mobile__menu__bar--1 {
                transform: rotate(-135deg);
            }
            &--active:hover .mobile__menu__bar--2 {
                transform: rotate(135deg);
            }

            &--active {
                &__bar{
                    transition: all .3s;
                    position: absolute;
                    &--1 {
                        transform: rotate(-135deg);
                    }
                    &--2 {
                        transform: rotate(135deg);
                        width: 3.5rem;
                    }
                    &--3 {
                        transform: translateY(-1rem);
                        opacity: 0;
                    }
                }
            }
        }

        &__dropmenu {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: $color-brand-green;

            perspective: 1000px;
            transform-origin: top;
            transform-style: preserve-3d;
            transition: all .8s;
            transform: rotateX(180deg);
        }

        &__dropmenu--active {
            top: 0;
            transform: rotateX(0deg);
        }

        &__main-nav {
            height: 40vh;

            &__list {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 30vh;
            }

            &__link,
            &__link:visited,
            &__link:active {
                @include hoverRotate;
                color: $color-white;
                font-size: $mobile-font-enlarge;
                text-align: center;
            }
        }

        &__social-nav {
            &__link,
            &__link:visited,
            &__link:active {
                @include hoverRotate;
            }
        }
    }
}