@import '../main.styles.scss';

.ripped-edge-container {
    position: relative;

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url('/images/background-cutout.png');
    mask-repeat: no-repeat;
    mask-image: url('/images/background-cutout.png');
    background-color: $color-secondary-white;

    @include respond(between-phone-tab) {
        mask-repeat: no-repeat;
        mask-image: url('/images/background-cutout-small.png');
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-image: url('/images/background-cutout-small.png');
    }

    @include respond(phone) {
        mask-image: none !important;
        -webkit-mask-image: none !important;
    }

    padding: 0 4rem;
}