@import '../main.styles.scss';

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__link,
    &__:active,
    &__:visited {
        color: $color-white;
    }

    &__link {
        @include hoverLift;
        @include drop-shadow;
        @include activeDrop;
    }

    &__style {
        display: flex;
        justify-content: center;
        align-items: center;

        //background-color: $color-black;
        //padding: 1rem 3rem;
        background-image: url('/images/button.png');
        background-size: cover;
        width: 14.5rem;
        height: 4.1rem;
    }

    &__leaves {
        position: absolute;
        z-index: -1;
    }

    &:hover &__hearts &__heart,
    &:active &__hearts &__heart {
        @include float-animation;
        //animation delay added in js
    }

    &__hearts {
        display:flex;
        gap: .3rem;
    }
    &__heart {
        position: relative;
        top: -5.5rem;
        z-index: -1;
        opacity: 0;
    }
}